#root {
  /*max-width: 1280px;*/
  width: 100%;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: enter;
}

.card {
  width: 20%;
  border-style: solid;
  border-width: 1px;
  border-color: #343434;
}

.info, .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

main, header {
  align-items: center;
  justify-content: center;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  /*position: absolute;*/
  top: 10px;
  left: 50px;
}

.sidebar {
  width: 300px;
  padding: 1rem;
  background-color: #242424;
  border-style: solid;
  border-width: 1px;
  border-color: #343434;
  color: #fff;
  box-sizing: border-box;
  position: fixed;
  height: auto;
}